.balanceContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .balanceLabel {
    color: #82829C;
  }
  
  .balanceValue {
    color: white;
  }
  
  .errorText {
    color: #ff6b6b;
  }
  
  .loadingText {
    color: #aaa;
  }