.minesGame {
    color: white;
    padding: 10px;

  }
  
  .gameHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .backButton {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
  }

  .container{

    border: 1px solid #373E65;
    padding: 12px;
    border-radius: 10px;
    background-color: #12101C;
   
  }
  
  .gameStats {
    color: white;
    margin-bottom: 10px;
  }
  
  .cashoutButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .cashoutButton:hover {
    background-color: #45a049;
  }

  .profitSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: white;
  }
  
  .profitSection label {
    margin-bottom: 5px;
  }
  
  .profitInput {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #373E65;
    background-color: #2a2a2a;
    color: white;
    margin-top: 5px;
  }
  
  .betControls {
    margin-top: 5px;
  }
  
  .betAmount {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: white;
  }
  
  .betAmount label {
    margin-bottom: 5px;
  }
  
  .betAmount input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #373E65;
    background-color: #2a2a2a;
    color: white;
  }
  
  .betButton {
    background-color: #2901ED;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .betButton:hover {
    background-color: #0099cc;
  }

  .betButton:disabled {
    background-color: #555;
    cursor: not-allowed;
  }

  .boardWrapper {
    position: relative;
    width: 100%;
  }
  
  .winOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border-radius: 8px;
  }
  
  .winMessage {
    background-color: #aaff0026;
    border-radius: 8px;
    padding: 12px 20px;
    width: 141px;
    height: 96px;
    text-align: center;
    box-shadow: #C21E1C80;
    border: 1px solid #AAFF00;
    border-radius: 10px;
    backdrop-filter: blur(8px);
  }
  
  .multiplierText {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    margin-bottom: 3px;
  }
  
  .winAmountText {
    font-size: 1.2rem;
    color: white;
  }

  .gameSettings {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 0;
  }
  
  .settingField {
    flex: 1;
  }
  
  .settingField label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #fff;
  }
  
  .settingInput {
    width: 100%;
    background-color: #2a2a2a;
    color: #fff;
    border: 1px solid #373E65;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    text-align: center;
  }